@use "../../scss/variables" as *;

.preview-container {
  height: 100%;
  overflow: hidden;
}

.preview {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  background-color: $blue-lighter;
  overflow: auto;
  height: 100%;
  width: 100%;
}